/* Account page */
.list-group-item > * {
  margin-left: -2px;
}

.pips {
  width: 32px;
  margin-top: 14px;
  -webkit-transition: margin ease .15s;
       -o-transition: margin ease .15s;
          transition: margin ease .15s;
}
.pip {
  display: block;
  width: 4px;
  height: 4px;
  margin-bottom: 4px;
  margin-left: 13px;
  background-color: #00a4df;
  border-radius: 2px;
  -webkit-transition: margin ease .15s;
       -o-transition: margin ease .15s;
          transition: margin ease .15s;
}
.list-group-item:hover .pips {
  margin-top: 10px;
}
.list-group-item:hover .pip {
  margin-bottom: 8px;
}

.table > tbody > .active > td {
  border-top-width: 16px;
  border-bottom-width: 16px;
}
/* End account page */

.navbar-fixed-bottom .nav {
  min-height: 40px;
}
.navbar-fixed-bottom .nav-justified > li {
  padding-top: 6px;
  vertical-align: top;
}
.navbar-fixed-bottom .navbar-btn {
  margin-top: 4px;
  margin-bottom: 8px;
}
.column-layout-left {
  z-index: 10000;
}
@media (max-width: 575px) {
  .container-fluid .panel {
    margin-right: -12px;
    margin-left: -12px;
  }
}
@media (max-width: 430px) {
  .navbar-default .profile-name .text-ellipsis {
    width: 120px;
  }
}
@media (max-width: 767px) {
  .container-fluid .navbar-nav {
    margin-top: 4px;
    border-bottom: 0;
  }
}
.container-fluid {
  max-width: 1440px;
}
/*
.list-group-item {
    transition: none;
}

.list-group:hover .list-group-item {
    opacity: 0.7;
    background-color: #f5f7f9;
    border-top: 1px solid #e2e6e8;
    margin-top: 0;
}
.list-group:hover .list-group-item:hover {
    opacity: 1;
    background-color: #fff;
}
.list-group:hover .list-group-item .circle {
    background-color: #fff;
}

.list-group:hover .list-group-item:hover .circle {
    background-color: #f5f7f9;
}
.list-group .list-group-item:last-child {
    border-bottom: 1px solid #e2e6e8;
}
*/

.list-group:hover .list-group-item:not(.active) .media {
  opacity: .6;
}
.list-group:hover .list-group-item:hover .media {
  opacity: 1;
}






.tick-container {
  position: relative;
  width: 136px;
  height: 136px;
  margin: auto;
}

.tick-arm-container {
  position: absolute;
  top: 12px;
  left: 63px;
  display: inline-block;
          transform: rotate(45deg);
}

.tick-arm-1 {
  position: absolute;
  top: 61px;
  left: 19px;
  width: 8px;
  height: 8px;
  background-color: #2ed06e;
  border-radius: 4px;
  opacity: 0;
  /*animation: tick-arm-1-draw .8s 1.3s cubic-bezier(.8,.2,0,0) forwards;
    animation: tick-arm-1-draw .8s 4.3s cubic-bezier(.8,.2,0,0) forwards;*/
}

.tick-circle-complete .tick-arm-1 {
    animation: tick-arm-1-draw .8s 1.3s cubic-bezier(.8,.2,0,0) forwards;
}

.tick-arm-2 {
  position: absolute;
  top: 66px;
  left: 44px;
  width: 8px;
  height: 0;
  background-color: #2ed06e;
  border-radius: 4px;
  /* animation: tick-arm-2-draw .8s 1.3s cubic-bezier(.5,0,0,1) forwards;
     animation: tick-arm-2-draw .8s 4.3s cubic-bezier(.5,0,0,1) forwards; */
}

.tick-circle-complete .tick-arm-2 {
    animation: tick-arm-2-draw .8s 1.3s cubic-bezier(.5,0,0,1) forwards;
}

.tick-circle-animate {
  opacity: 1;
          transform-origin: center center;
  /**
  animation:
    process-rotate-backwards 1.5s 0s linear infinite,
    process-for-rotate-backwards 1.5s 0s linear forwards,
    process-for-rotate-backwards 1.5s 1.5s linear forwards,
    process-fill 1.5s 3s linear forwards;
  /**/
}
/**/
.tick-circle-processing circle {
          animation: process-rotate-backwards 1.5s 0s linear infinite,
  process-for-rotate-backwards 1.5s 0s linear infinite;
}
.tick-circle-complete circle {
          animation: process-rotate-backwards 1.5s 0s linear infinite,
  process-fill 1.5s 0s linear forwards;
}
/**/

.tick-circle {
  opacity: 1;

  stroke-dashoffset: 0;
  stroke-dasharray: 400;
}

@keyframes tick-arm-1-draw {
  0% {
    width: 8px;
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  30% {
    width: 33px;
  }
  100% {
    width: 33px;
    opacity: 1;
  }
}

@keyframes tick-arm-2-draw {
  0% {
    top: 66px;
    height: 0;
  }
  29% {
    top: 66px;
    height: 0;
  }
  100% {
    top: 0;
    height: 69px;
  }
}


@keyframes process-rotate-backwards {
  from {
    -webkit-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
         -o-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}


@keyframes process-rotate-forwards {
  from {
    -webkit-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes process-fill {
  0% {
    /*stroke: #00b9ff;
    stroke-dashoffset: -400;*/
    stroke: #00b9ff;
    stroke-dashoffset: -396;
    stroke-dasharray: 400;
  }

  100% {
    stroke: #2ed06e;
    stroke-dashoffset: 0;
    stroke-dasharray: 400;
  }
}

@keyframes process-for-rotate-backwards {
  0% {
    stroke: #00b9ff;
    stroke-dashoffset: -396;
    stroke-dasharray: 400;
  }

  20% {
    stroke: #00b9ff;
    stroke-dashoffset: -300;
    stroke-dasharray: 400;
  }

  40% {
    stroke: #00b9ff;
    stroke-dashoffset: -200;
    stroke-dasharray: 200;
  }

  55% {
    stroke: #00b9ff;
    stroke-dashoffset: -100;
    stroke-dasharray: 200;
  }

  70% {
    stroke: #00b9ff;
    stroke-dashoffset: 0;
    stroke-dasharray: 200;
  }

  100% {
    stroke: #00b9ff;
    stroke-dashoffset: 396;
    stroke-dasharray: 400;
  }
}

@keyframes process-for-rotate-forwards {
  0% {
    stroke: #00b9ff;
    stroke-dashoffset: 396;
    stroke-dasharray: 400;
  }

  20% {
    stroke: #00b9ff;
    stroke-dashoffset: 300;
    stroke-dasharray: 400;
  }

  40% {
    stroke: #00b9ff;
    stroke-dashoffset: 200;
    stroke-dasharray: 200;
  }

  55% {
    stroke: #00b9ff;
    stroke-dashoffset: 100;
    stroke-dasharray: 200;
  }

  70% {
    stroke: #00b9ff;
    stroke-dashoffset: 0;
    stroke-dasharray: 200;
  }

  100% {
    stroke: #00b9ff;
    stroke-dashoffset: -396;
    stroke-dasharray: 400;
  }
}
