/* Account page */
.list-group-item > * {
  margin-left: -2px;
}

.pips {
  width: 32px;
  margin-top: 14px;
  -webkit-transition: margin ease .15s;
       -o-transition: margin ease .15s;
          transition: margin ease .15s;
}
.pip {
  display: block;
  width: 4px;
  height: 4px;
  margin-bottom: 4px;
  margin-left: 13px;
  background-color: #00a4df;
  border-radius: 2px;
  -webkit-transition: margin ease .15s;
       -o-transition: margin ease .15s;
          transition: margin ease .15s;
}
.list-group-item:hover .pips {
  margin-top: 10px;
}
.list-group-item:hover .pip {
  margin-bottom: 8px;
}

.one-click .tw-select-selected .tw-select-secondary,
.one-click .tw-select-selected .tw-select-note,
.one-click .tw-select-selected .circle {
  display: none;
}

.table > tbody > .active > td {
  border-top-width: 16px;
  border-bottom-width: 16px;
}
/* End account page */


.progress {
  height: 2px;
  margin-bottom: 12px;
  overflow: visible;
  background-color: #eaebed;
  border-radius: 1px;
}
.progress-bar:after {
  float: right;
  margin-top: -3px;
  margin-right: -4px;
  content: "";
  border: 4px solid #00b9ff;
  border-radius: 4px;
}


/*
.column-layout-container {
  display: table;
  width: 100%;
}
.column-layout-left {
  position: relative;
  display: none;
  width: 264px;
  color: #fff;
  vertical-align: top;
  -webkit-transform: translateX(-264px);
      -ms-transform: translateX(-264px);
       -o-transform: translateX(-264px);
          transform: translateX(-264px);
}
.column-layout-main {
  padding-right: 32px;
  padding-left: 32px;
}
.column-layout-left-top {
  position: fixed;
  top: 0;
  width: 264px;
}
.column-layout-left-bottom {
  position: fixed;
  bottom: 0;
  width: 264px;
  padding: 24px;
}
@media (min-width: 992px) {
  .column-layout-left {
    display: table-cell;
    -webkit-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
  }
  .column-layout-main {
    display: table-cell;
    vertical-align: top;
  }
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
*/


.navbar .profile-name .text-ellipsis {
  max-width: 220px !important;
}
